html, body {
	height: 100%;
	margin: 0;
	font-family: "Roboto", "Apple LiGothic Medium", "Microsoft JhengHei", Arial, sans-serif;
	font-weight: 300;
	background: linear-gradient(to bottom right, $color-background-1, $color-background-2);
	overflow: hidden;
}

input, button {
	font-family: "Roboto", "Apple LiGothic Medium", "Microsoft JhengHei", Arial, sans-serif;
	font-weight: 300;
}

#app {
	height: 100%;
	font-size: 12px;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;

}
